.container {
  float: none;
  background-color: pink;
  width: 20%;
  border-left: 20px solid red;
  padding: 60px;
  background-color: lightred;
  border-style: round;
  border-right: 20px solid purple;
}
#user {
   background-color: tan;

 }

#name {
   background-color: tan;

 }

#nice {
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 60px;
  font-family: monospace;
}

body  {
  background-color: white;
}

#robot  {
   float: right;
   margin: auto;
   background-color: pink;
   width: 100%;
   padding: 100px;
 } ;
}

#result {
  font-family: fantasy;
}
